* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Alef-Regular";
  src: url("../fonts/Alef-Regular.ttf");
}
@font-face {
  font-family: "Alef-Bold";
  src: url("../fonts/Alef-Bold.ttf");
}
@font-face {
  font-family: "Baloo-Bold";
  src: url("../fonts/Baloo2-Bold.ttf");
}
@font-face {
  font-family: "ChakraPetch-Regular";
  src: url("../fonts/ChakraPetch-Regular.ttf");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans-Medium";
  src: url("../fonts/OpenSans-Medium.ttf");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf");
}
body {
  font-family: "ChakraPetch-Regular";
  color: #C5C5C5;
}

.site-header {
  background-color: #1E2234;
}

@media (min-width: 1400px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1170px;
  }
}
.navCustom .nav-item .nav-link {
  text-transform: capitalize;
  color: #FFffff;
  padding: 0.8rem 14px;
  transition: all 0.3s ease-in-out;
  font-family: "Alef-Regular";
}
.navCustom .nav-item .nav-link:hover {
  color: #FF3B4D;
}

.hero {
  background: #222539;
  height: 95vh;
}
.hero .hero-left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .hero-left .inner .social ul {
  padding: 0;
}
.hero .hero-left .inner .social ul li {
  display: inline;
  list-style: none;
}
.hero .hero-left .inner .social ul li a {
  height: 38px;
  width: 38px;
  border: 2px solid #FF3B4D;
  margin-right: 5px;
  text-align: center;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.6rem;
}
.hero .hero-left .inner .intro-title {
  margin: 13px 0;
  font-size: 2.8rem;
  line-height: 1;
  font-family: "Baloo-Bold";
  color: #C5C5C5;
  text-transform: uppercase;
}
.hero .myPhoto {
  position: absolute;
  bottom: 0;
  left: 9%;
  width: 78%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.justify {
  text-align: justify;
}

.btn-theme {
  text-transform: capitalize;
  background-color: #FF3B4D;
  color: #FFffff;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  min-width: 130px;
  font-weight: 500;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 100px;
  font-size: 16px;
  margin: 0 7px;
  font-weight: 500;
}
.btn-theme.outline {
  border: 2px solid #FF3B4D;
  background: transparent;
}
.btn-theme.outline:hover {
  background: #FF3B4D;
  color: #FFffff;
  transform: translateY(-2px);
}
.btn-theme:hover {
  transform: translateY(-2px);
  background: #ff5564;
  color: #FFffff;
}

.paragraph {
  color: #C5C5C5;
}

.txt-ternary {
  color: #FF3B4D;
}

section.default {
  padding: 50px 0;
}
section.default.services, section.default.skill, section.default.about {
  background: #1E2234;
}
section.default.services small, section.default.skill small, section.default.about small {
  color: #FF3B4D;
  text-transform: uppercase;
}
section.default.services .secTtile, section.default.skill .secTtile, section.default.about .secTtile {
  font-size: 30px;
  text-transform: capitalize;
  font-family: "OpenSans-Bold";
}
section.default.services .items, section.default.skill .items, section.default.about .items {
  text-align: center;
  padding: 40px 30px;
  margin-top: 22px;
  background-color: #222539;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}
section.default.services .items .iconify, section.default.skill .items .iconify, section.default.about .items .iconify {
  color: #FF3B4D;
  font-size: 4rem;
  margin-bottom: 25px;
}
section.default.services .items h4, section.default.skill .items h4, section.default.about .items h4 {
  font-size: 20px;
  margin-bottom: 16px;
  text-transform: capitalize;
  font-family: "OpenSans-Medium";
}
section.default.services .items:hover, section.default.skill .items:hover, section.default.about .items:hover {
  background: #FF3B4D;
}
section.default.services .items:hover .iconify, section.default.skill .items:hover .iconify, section.default.about .items:hover .iconify {
  color: #FFffff;
}
section.default.services .items:hover .paragraph, section.default.skill .items:hover .paragraph, section.default.about .items:hover .paragraph {
  color: #FFffff;
}
section.default.services .items:hover h4, section.default.skill .items:hover h4, section.default.about .items:hover h4 {
  color: #FFffff;
}
section.default.about {
  background-color: #222539;
}
section.default.about .aboutMePhoto {
  position: absolute;
  bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  left: 17%;
}
section.default.about .inner {
  background-color: #1E2234;
  padding: 35px;
  border-radius: 4px;
}
section.default.about .inner h6 {
  font-family: "Alef-Regular";
}
section.default.skill {
  background-color: #1E2234;
}

.skillContainer {
  height: 40vw;
  width: 40vw;
  margin: 50px auto;
  border: 2px solid #404452;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: waveSkillContainer 2s forwards infinite;
          animation: waveSkillContainer 2s forwards infinite;
  position: relative;
}
.skillContainer .parent {
  height: 80%;
  width: 80%;
  margin: 50px auto;
  border: 3px solid #404452;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: waveParent 2s forwards infinite;
          animation: waveParent 2s forwards infinite;
  position: relative;
}
.skillContainer .parent .skill-item {
  height: 60px;
  width: 60px;
  background-color: #FF3B4D;
  border-radius: 50%;
  border: 2px dashed #FFffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skillContainer .parent .skill-item.one {
  position: absolute;
  top: -28px;
}
.skillContainer .parent .skill-item.two {
  position: absolute;
  right: -28px;
}
.skillContainer .parent .skill-item.three {
  position: absolute;
  bottom: -28px;
}
.skillContainer .parent .skill-item.four {
  position: absolute;
  left: -28px;
}
.skillContainer .parent .child {
  height: 70%;
  width: 70%;
  margin: 50px auto;
  border: 5px solid #C5C5C5;
  border-radius: 50%;
  padding: 0;
  display: flex;
  background-color: #FF3B4D;
  justify-content: center;
  align-items: center;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  position: relative;
  -webkit-animation: waveChild 2s forwards infinite;
          animation: waveChild 2s forwards infinite;
}
.skillContainer .parent .child img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes waveSkillContainer {
  0% {
    box-shadow: 0 0 0;
  }
  50% {
    border-color: #FF3B4D;
  }
  100% {
    box-shadow: 0 0 0;
  }
}

@keyframes waveSkillContainer {
  0% {
    box-shadow: 0 0 0;
  }
  50% {
    border-color: #FF3B4D;
  }
  100% {
    box-shadow: 0 0 0;
  }
}
@-webkit-keyframes waveParent {
  0% {
    box-shadow: 0 0 0;
  }
  50% {
    border-color: #FF3B4D;
  }
  100% {
    box-shadow: 0 0 0;
  }
}
@keyframes waveParent {
  0% {
    box-shadow: 0 0 0;
  }
  50% {
    border-color: #FF3B4D;
  }
  100% {
    box-shadow: 0 0 0;
  }
}
@-webkit-keyframes waveChild {
  0% {
    box-shadow: 0 0 0;
  }
  50% {
    box-shadow: 0 0 111px #FF3B4D;
    border-color: #FFf;
    background-color: #FF3B4D;
  }
  100% {
    box-shadow: 0 0 0;
  }
}
@keyframes waveChild {
  0% {
    box-shadow: 0 0 0;
  }
  50% {
    box-shadow: 0 0 111px #FF3B4D;
    border-color: #FFf;
    background-color: #FF3B4D;
  }
  100% {
    box-shadow: 0 0 0;
  }
}/*# sourceMappingURL=app.css.map */